env
.env
.env.docker
.env.dev
.env.prod
.env.local
sql_data_dev
sql_data_prod
docker-compose.dev.yaml
/sql_data
connectit-63f60-firebase-adminsdk-fbsvc-c106a0e591.json
images/
/tests/__pycache__/
odc-data/
odc-reports/
unused files/